.popup__input {
  width: calc(100% - 36px*2);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
  padding: 0 0 13px 0;
}

