.popup__photo-close-button {
  width: 40px;
  height: 40px;
  margin-right: -10px;
  margin-bottom: -7px;
  flex-direction: row;
  align-self: flex-end;
  background: url(../../../images/popup__close-icon.svg);
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__photo-close-button:hover {
  opacity: .6;
  transition: opacity .4s;
}

@media screen and (max-width: 560px) {
  .popup__photo-close-button {
    width: 26px;
    height: 26px;
    margin-right: 40px;
    margin-bottom: -10px;
  }
}