.popup__close-button {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url(../../../images/popup__close-icon.svg);
  background-size: cover;
  border: none;
  position: absolute;
  top: calc(50% - 330px/2 - 40px);
  left: calc(50% + 430px/2);
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .4s;
}