.popup__save-button {
  width: calc(100% - 36px*2);
  height: 50px;
  margin: 48px auto 0;
  background-color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}