.popup__save-button {
  width: calc(100% - 36px*2);
  height: 50px;
  margin: 48px auto 0;
  background-color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.popup__save-button:hover {
opacity: .8;
transition: opacity .4s;
}

@media screen and (max-width: 560px) {
  .popup__save-button {
    width: calc(100% - 22px*2);
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}